.gradle/8.13/expanded/expanded.lock
.idea/appInsightsSettings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Gradle__androidx_activity_activity_1_9_1_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_compose_1_9_1_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_9_1_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_4_1_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_jvm_1_8_1.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_7_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_7_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_2_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_browser_browser_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_jvm_1_4_4.xml
.idea/libraries/Gradle__androidx_compose_animation_animation_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_animation_animation_core_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_foundation_foundation_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_foundation_foundation_layout_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_material3_material3_android_1_2_1_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_icons_core_android_1_6_8_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_icons_extended_android_1_6_8_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_ripple_android_1_6_8_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_saveable_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_geometry_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_graphics_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_test_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_test_junit4_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_test_manifest_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_text_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_data_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_preview_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_unit_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_util_android_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_1_0.xml
.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_ktx_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_13_1_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_13_1_aar.xml
.idea/libraries/Gradle__androidx_credentials_credentials_1_2_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_credentials_credentials_play_services_auth_1_2_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_5_4_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_jvm_2_8_4.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_android_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_compose_android_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_android_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_android_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_compose_android_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_8_4_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_8_8_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_8_8_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_compose_2_8_8_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_8_8_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_8_8_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_3_2_aar.xml
.idea/libraries/Gradle__androidx_resourceinspection_resourceinspection_annotation_1_0_1.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_1_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_2_1_aar.xml
.idea/libraries/Gradle__androidx_test_annotation_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_6_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_6_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_6_1_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_web_3_5_1_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_2_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_7_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_7_2_aar.xml
.idea/libraries/Gradle__androidx_test_rules_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_6_1_aar.xml
.idea/libraries/Gradle__androidx_test_services_storage_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_test_uiautomator_uiautomator_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_tracing_tracing_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_tracing_tracing_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_1_0_beta02_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_almworks_sqlite4java_sqlite4java_1_0_392.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_auth_api_phone_18_0_2_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_18_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_18_9_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_18_8_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_18_9_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_18_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_12_0_aar.xml
.idea/libraries/Gradle__com_google_android_play_core_common_2_0_3_aar.xml
.idea/libraries/Gradle__com_google_android_play_integrity_1_3_0_aar.xml
.idea/libraries/Gradle__com_google_android_recaptcha_recaptcha_18_5_1_aar.xml
.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_11_0.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_26_0.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_28_0.xml
.idea/libraries/Gradle__com_google_firebase_firebase_annotations_17_0_0.xml
.idea/libraries/Gradle__com_google_firebase_firebase_appcheck_interop_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_23_1_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_20_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_22_2_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_ktx_21_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_components_19_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_database_collection_18_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_firestore_26_6_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_protolite_well_known_types_18_0_1_aar.xml
.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_2.xml
.idea/libraries/Gradle__com_google_guava_guava_33_3_1_jre.xml
.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_3_0_0.xml
.idea/libraries/Gradle__com_ibm_icu_icu4j_75_1.xml
.idea/libraries/Gradle__com_kaspersky_android_components_kaspresso_1_5_5_aar.xml
.idea/libraries/Gradle__com_kaspersky_android_components_kaspresso_compose_support_1_5_5_aar.xml
.idea/libraries/Gradle__com_kaspersky_android_components_kautomator_1_5_5_aar.xml
.idea/libraries/Gradle__io_github_kakaocup_compose_0_2_3_aar.xml
.idea/libraries/Gradle__io_github_kakaocup_kakao_3_5_1_aar.xml
.idea/libraries/Gradle__io_github_kakaocup_kakao_ext_clicks_1_0_0_aar.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_3_2.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
.idea/libraries/Gradle__junit_junit_4_13_2.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_15_0.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_agent_1_15_0.xml
.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk18on_1_78_1.xml
.idea/libraries/Gradle__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
.idea/libraries/Gradle__org_checkerframework_checker_qual_3_43_0.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_2_2.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_2_2.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_2_2.xml
.idea/libraries/Gradle__org_jetbrains_annotations_23_0_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_2_0_21.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_8_22.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_8_22.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_9_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_9_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_play_services_1_9_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_test_jvm_1_9_0.xml
.idea/libraries/Gradle__org_mockito_mockito_core_5_13_0.xml
.idea/libraries/Gradle__org_ow2_asm_asm_9_7_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_analysis_9_7_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_commons_9_7_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_tree_9_7_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_util_9_7_1.xml
.idea/libraries/Gradle__org_robolectric_annotations_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_junit_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_nativeruntime_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_pluginapi_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_plugins_maven_dependency_resolver_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_resources_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_robolectric_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_sandbox_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_shadowapi_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_shadows_framework_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_utils_4_14_1.xml
.idea/libraries/Gradle__org_robolectric_utils_reflector_4_14_1.xml
.idea/modules.xml
.idea/modules/app/SampleApp.app.androidTest.iml
.idea/sharemate.iml
gradle-projects.txt
